# Build output
*.obj
*.o
*.exe
*.sys
*.pdb
*.lib
*.exp
*.ilk
*.res

# Build
build/

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
x64/
x86/
Debug/
Release/
ARM/
ARM64/
Build/

# WDK
*.cer
*.cat
*.log

# OS
Thumbs.db
desktop.ini
.DS_Store
